@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");
/* Centered texts in each section
		* --------------------------------------- */
.section {
  text-align: center;
}

#myVideo {
  position: absolute;
  z-index: 4;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  /* in case the video doesn't fit the whole page*/
  background-image: url("../videos/BGVid.mp4");
  /* our video */
  background-position: center center;
  background-size: contain;
  -o-object-fit: cover;
     object-fit: cover;
  /*cover video background */
}

/* Layer with position absolute in order to have it over the video
		* --------------------------------------- */
#section1 .layer {
  position: absolute;
  z-index: 5;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#section1 h1 {
  color: #fff;
}

#infoMenu li a {
  color: #fff;
}

#section1 {
  overflow: hidden;
}

@CHARSET "ISO-8859-1";
/* Reset CSS
         * --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #f2f2f2;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

/* Custom CSS
         * --------------------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 1s;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #f2f2f2;
}

h1 {
  font-size: 6em;
}

p {
  font-size: 2em;
}

.section {
  text-align: center;
  overflow: hidden;
}

/* Menu 2
         * --------------------------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin-top: 2vh;
  margin-bottom: 0;
  margin-left: 2vh;
  margin-right: 2vh;
}

header .container {
  padding: 0;
  margin: 0;
  /* Menu
                * --------------------------------------- */
}

header .container .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  width: 15%;
  height: 15%;
  margin: 0;
  margin-left: 2em;
  padding: 0;
}

header .container #menu li {
  display: inline-block;
  margin: 10px;
  color: #FFF;
}

header .container #menu li.active {
  color: #fff;
}

header .container #menu li a {
  text-decoration: none;
  color: #FFF;
}

header .container #menu li.active a:hover {
  color: #FFF;
  text-decoration: underline;
}

header .container #menu li:hover {
  text-decoration: underline;
}

header .container #menu li a,
header .container #menu li.active a {
  padding: 9px 18px;
  display: block;
}

header .container #menu li.active a {
  color: #fff;
}

header .container #menu {
  position: fixed;
  top: 0;
  right: 10em;
  height: 40px;
  z-index: 70;
  padding: 0;
  margin: 0;
  margin-top: 0.8125em;
}

header .container #masthead {
  padding: 2.5em 0;
  position: relative;
}

header .container #masthead.is-active {
  -webkit-box-shadow: 0 4px 4px #141414;
          box-shadow: 0 4px 4px #141414;
}

header .container #masthead:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

header .container #masthead.is-active:after {
  opacity: 1;
}

header .container .hamburger {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  float: right;
  font: inherit;
  margin: 0.8125em 5em 0 0;
  overflow: visible;
  outline: none;
  padding: 0;
  text-transform: none;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
  -webkit-appearance: none;
}

header .container .hamburger:hover {
  opacity: 0.7;
}

header .container .hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

header .container .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

header .container .hamburger-inner::before, header .container .hamburger-inner::after {
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

header .container #masthead.is-active .hamburger-inner {
  background-color: #000;
}

header .container #masthead.is-active .hamburger-inner::before, header .container #masthead.is-active .hamburger-inner::after {
  background-color: #000;
}

header .container .hamburger-inner::before, header .container .hamburger-inner::after {
  content: "";
  display: block;
}

header .container .hamburger-inner::before {
  top: -6px;
}

header .container .hamburger-inner::after {
  bottom: -6px;
}

header .container .hamburger--boring .hamburger-inner {
  -webkit-transition-property: none;
  transition-property: none;
}

header .container .hamburger--boring .hamburger-inner::before, header .container .hamburger--boring .hamburger-inner::after {
  -webkit-transition-property: none;
  transition-property: none;
}

header .container .hamburger--boring.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

header .container .hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

header .container .hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

header .container .hamburger-label {
  color: #fff;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 1;
  margin-left: 0.3125em;
  text-transform: uppercase;
}

header .container #masthead.is-active .hamburger-label {
  color: #000;
}

header .container .hamburger-box, header .container .hamburger-label {
  display: inline-block;
  vertical-align: middle;
}

header .container #site-nav {
  position: absolute;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0;
  overflow: hidden;
  padding-top: 2.5em;
  padding-left: 10vh;
  padding-right: 10vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
}

header .container #site-nav.is-active {
  top: 0;
  padding-top: 20vh;
  height: auto;
  width: 100%;
  overflow: visible;
  background: rgba(20, 20, 20, 0.9);
  z-index: -1;
}

header .container #site-nav .col {
  padding-bottom: 2.5em;
}

header .container #site-nav h4 {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

header .container #site-nav ul {
  list-style-type: none;
  margin-top: 1em;
}

header .container #site-nav li {
  margin-bottom: 0.3125em;
}

header .container #site-nav li a {
  color: #b4b9ba;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

header .container #site-nav li a:hover, header .container #site-nav li a:focus {
  color: #686d6e;
}

header .container #site-nav .social {
  margin: 0;
  overflow: hidden;
}

header .container #site-nav .social li {
  float: left;
  margin: 0 0.3125em;
  width: 32px;
  height: 32px;
}

header .container #site-nav .social li svg {
  display: block;
  fill: #b4b9ba;
  width: 100%;
  height: 100%;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

header .container #site-nav .social li:hover svg {
  fill: #686d6e;
}

@media screen and (min-width: 550px) {
  header .container #site-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .container #site-nav .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media screen and (min-width: 768px) {
  header .container #site-nav .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333333%;
            flex: 0 0 33.333333333%;
  }
}

@media screen and (min-width: 960px) {
  header .container #site-nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header .container #site-nav .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
  header .container #site-nav .col:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

header .container #masthead-search {
  float: right;
  margin-top: 0.625em;
  width: 100%;
  max-width: 14em;
  position: relative;
  -webkit-appearance: none;
}

header .container #masthead-search input {
  background: transparent;
  border: none;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  outline: none;
  width: 100%;
  padding: 0.75em 1.125em;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  -webkit-appearance: none;
}

header .container #masthead-search button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1em;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 0.75em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-appearance: none;
}

header .container #masthead.is-active #masthead-search button {
  color: #b4b9ba;
}

header .container #masthead.is-active #masthead-search input {
  border-color: #b4b9ba;
}

header .container #masthead-search ::-webkit-input-placeholder {
  color: #fff;
}

header .container #masthead-search :-moz-placeholder, header .container #masthead-search ::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

header .container #masthead-search :-ms-input-placeholder {
  color: #fff;
}

header .container #masthead.is-active #masthead-search ::-webkit-input-placeholder {
  color: #b4b9ba;
}

header .container #masthead.is-active #masthead-search :-moz-placeholder, header .container #masthead.is-active #masthead-search ::-moz-placeholder {
  color: #b4b9ba;
  opacity: 1;
}

header .container #masthead.is-active #masthead-search :-ms-input-placeholder {
  color: #b4b9ba;
}

header .container #masthead .col {
  opacity: 0;
}

header .container #masthead.is-active .col {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-animation: fade-in-stagger 0.8s ease forwards;
          animation: fade-in-stagger 0.8s ease forwards;
}

header .container #masthead.is-active .col:nth-child(1) {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

header .container #masthead.is-active .col:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

header .container #masthead.is-active .col:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

header .container #masthead.is-active .col:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

header .container #masthead.is-active .col:nth-child(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4;
}

@-webkit-keyframes fade-in-stagger {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-stagger {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* --------------------------------------- */
/* Section 1
         * --------------------------------------- */
#section1 h1 {
  color: #444;
}

#section1 p {
  color: #333;
  color: rgba(0, 0, 0, 0.3);
}

#section1 img {
  margin: 20px 0;
  opacity: 0.7;
}

/* Section 2
         * --------------------------------------- */
#section2 h1 {
  font-weight: 700;
  font-size: 5rem;
}

#section2 h1,
#section2 p {
  z-index: 3;
}

#section2 p {
  opacity: 0.8;
}

#section2 #colors {
  right: 60px;
  bottom: 0;
  position: absolute;
  height: 413px;
  width: 258px;
}

/* Section 3
         * --------------------------------------- */
#section3 {
  text-align: center;
}

#section3 #colors {
  left: 60px;
  bottom: 0;
}

#section3 .intro .p {
  color: #FFF;
  font-weight: 100;
  font-size: 1.5rem;
}

#section3 .intro .info {
  color: #FFF;
  font-weight: 100;
  font-size: 1.5rem;
  width: 50%;
  margin-right: 0;
  margin-bottom: 2.5rem;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

#section3 h1 {
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 2.5rem;
}

/* Section 4
         * --------------------------------------- */
#section4 h1 {
  font-weight: 700;
  font-size: 5rem;
  text-transform: capitalize;
}

/* Overwriting fullPage.js tooltip color
        * --------------------------------------- */
#pp-nav.custom .pp-tooltip {
  color: #AAA;
}

.twitter-share-button {
  position: fixed;
  z-index: 99;
  right: 149px;
  top: 9px;
}

#starGithub {
  position: fixed;
  z-index: 99;
  right: 264px;
  top: 9px;
  width: 90px;
}

.row #contact-info {
  line-height: .1rem;
  padding-top: .678rem;
  text-align: left;
}

.row #contact-info p {
  font-weight: 300;
}

.row #contact-info #title {
  font-weight: 700;
}

.column {
  float: left;
  width: 50%;
  padding: 2em;
}

.column h2 {
  font-weight: 700;
  font-size: 2rem;
}

.column h3 {
  font-weight: 500;
  font-size: 1rem;
}

.column p {
  font-weight: 100;
  font-size: 1.25rem;
  margin-top: 2rem;
}

.column .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  font-weight: 700;
  cursor: pointer;
}

.column .button svg {
  height: 55px;
  width: 150px;
  fill: none;
  stroke-width: 5;
}

.column .button svg .o1 {
  stroke: rgba(39, 44, 54, 0.7);
  fill: #272C36;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.column .button svg .o2 {
  stroke: white;
  stroke-dasharray: 20 420;
  stroke-dashoffset: 20;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.column .button span {
  position: absolute;
  margin: auto 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.column .button:hover .o1 {
  fill: rgba(0, 150, 209, 0.3);
}

.column .button:hover .o2 {
  stroke-dashoffset: -420;
}

.column img {
  width: 25rem;
  height: 20.313rem;
}

.column #map {
  width: 41.063rem;
  height: 26.875rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* --------------------------------------- */
input:focus, textarea:focus, keygen:focus, select:focus {
  outline: none;
}

::-moz-placeholder {
  color: #FFF;
  font-weight: 300;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #FFF;
  font-weight: 300;
}

/* contact from design */
.container {
  padding: 20px 50px 70px;
  font-family: inherit;
}

.sec1title {
  text-align: center;
}

.sec1title h1 {
  font-size: 3rem;
  margin: 25px;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 700;
}

.section2 {
  position: relative;
  overflow: hidden;
}

.section2 .contactform {
  position: absolute;
  top: 0;
  right: 10%;
  z-index: 99;
  background: #141414;
  padding: 30px 40px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section2 .contactform input.form-fields,
.section2 .contactform button.form-fields,
.section2 .contactform textarea.form-fields {
  padding: 0 0 0 40px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 350px;
  font-size: 16px;
  background: #222222;
  margin: 7px 0;
  border: 1px solid #0096D1;
  color: #6BECDB;
  opacity: 0.5;
  min-height: 45px;
  text-shadow: none;
  position: relative;
}

.section2 .contactform textarea.form-fields {
  padding: 8px 40px;
  resize: none;
}

.section2 .contactform button.form-fields.button {
  color: #FFF;
  font-size: 14px;
  padding: 0;
  text-transform: uppercase;
}

.section2 .contactform button.form-fields.button:hover {
  background: #181818;
  color: #fff;
  cursor: pointer;
  opacity: 1;
}

.section2 .contactform button.form-fields.button i {
  margin-left: 10px;
}

.section2 .contactform h5 {
  color: #FFF;
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.section2 .contactform label .cntfrmicn {
  color: #00C1A8;
  padding: 14px;
  position: absolute;
  z-index: 99;
}

@media only screen and (max-width: 660px) {
  .container {
    padding: 10px 20px 30px;
  }
  .contmap {
    height: 475px !important;
  }
  .sec1title h1 {
    font-size: 28px;
  }
  .section2 .contactform {
    padding: 10px;
    right: 0;
    width: 100%;
  }
  .section2 .contactform input.form-fields, .section2 .contactform button.form-fields, .section2 .contactform textarea.form-fields {
    width: 100%;
  }
}

/* CARDS */
.page-content {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .page-content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .page-content {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}

.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(11.7%, rgba(0, 0, 0, 0.009)), color-stop(22.1%, rgba(0, 0, 0, 0.034)), color-stop(31.2%, rgba(0, 0, 0, 0.072)), color-stop(39.4%, rgba(0, 0, 0, 0.123)), color-stop(46.6%, rgba(0, 0, 0, 0.182)), color-stop(53.1%, rgba(0, 0, 0, 0.249)), color-stop(58.9%, rgba(0, 0, 0, 0.32)), color-stop(64.3%, rgba(0, 0, 0, 0.394)), color-stop(69.3%, rgba(0, 0, 0, 0.468)), color-stop(74.1%, rgba(0, 0, 0, 0.54)), color-stop(78.8%, rgba(0, 0, 0, 0.607)), color-stop(83.6%, rgba(0, 0, 0, 0.668)), color-stop(88.7%, rgba(0, 0, 0, 0.721)), color-stop(94.1%, rgba(0, 0, 0, 0.762)), to(rgba(0, 0, 0, 0.79)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e), -webkit-transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
  background-image: url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.card:nth-child(2):before {
  background-image: url(https://images.unsplash.com/photo-1503792574895-6074f691cc6a?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.card:nth-child(3):before {
  background-image: url(https://images.unsplash.com/photo-1551868561-7b006235bf22?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.card:nth-child(4):before {
  background-image: url(https://images.unsplash.com/photo-1606146485652-75b352ce408a?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}

.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: inherit;
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}

.btn:hover {
  background-color: #0d0d0d;
}

.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .content {
    -webkit-transform: translateY(calc(100% - 4.5rem));
            transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  }
  .card:hover,
  .card:focus-within {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
            transition-delay: calc(var(--d) / 8);
  }
  .card:focus-within:before, .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
}
/*# sourceMappingURL=main.css.map */